main {
    max-width: 350px;
    max-height: 350px;
    width: 85vw;  
    height: 85vw;
    display:grid;
    grid-gap: 3px;
    margin: 12px auto;
}

.board-beginner {
  grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
}

.board-pro {
  grid-template-columns: calc(100%/4) calc(100%/4) calc(100%/4) calc(100%/4);
  grid-template-rows: calc(100%/4) calc(100%/4) calc(100%/4) calc(100%/4);
}

.btn-centered {
  font-size: 1.2em;
  margin: 20px auto;
  display: block;
}

.btn-next-round {
	border: none;
	background-color: var(--color-theme-primary);
	border-radius: 6px;
	padding: 10px 48px;
	color: rgba(#fff, 0.9);
	font-size: 14px;
	box-shadow: 0 4px 8px 0 rgba(#303030, 0.25);
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: translateY(2px);
  }
}
